/node_modules
/public/hot
/public/storage
.history
.vscode
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vender/laravel/sail
/public/images/
/public/error_log
*.zip
/vendor